@letter-spacing-small: 1px;
@letter-spacing-large: 3px;

header{
    h1{
        letter-spacing: @letter-spacing-small;

        span{
            padding-top: @padding-base-vertical;
            letter-spacing: @letter-spacing-large;
            font-weight: normal;
            font-size: @font-size-h4;
            display: block;
        }
    }
    hr{
        border-color: @fade-color-white;
    }

}